<%= form_for(@expense_report) do |f| %>
  <% if @expense_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense_report.errors.count, "error") %> prohibited this expense_report from being saved:</h2>

      <ul>
      <% @expense_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.hidden_field(:expense_report_status_id, :value => "1") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
