<h1>Editing User Role</h1>

<%= form_for(@relationship_user) do |f| %>
  <% if @relationship_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relationship_user.errors.count, "error") %> prohibited this user role from being updated:</h2>

      <ul>
      <% @relationship_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role %><br>
    <%= f.collection_select(:role_id , @roles, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>

<%= link_to 'Back', relationships_path %>
