<h1>New Relationship</h1>

<%#= render 'form' %>
<p>First, search for your user</p>

<%= form_tag("/relationships/new", method: "get") do %>
  <%= label_tag(:user, "Search for:") %>
  <%= text_field_tag(:user) %>
  <%= submit_tag("Search") %>
<% end %>

<%= link_to 'Back', relationships_path %>
