<%= high_chart("biz_sum_year", @biz_chart_sum_year) %>

</br></br>

<%= high_chart("biz_avg_year", @biz_chart_avg_year) %>

</br></br>

<table class="table">
    <thead>
      <tr>
        <th>Receipt ID</th>
        <th>Receipt Item ID</th>
        <th>Receipt Item Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <!-- Below rails look iterates through all receipts for the user who is logged in -->
      <% @biz_users.each do |biz| %>
          <tr>
            <td><%= biz.select("receipts.id") %></td>
            <td><%= receipt.select("receipt_items.id") %></td>
            <td><p><%= number_to_currency(biz.select("receipt_items.price")) %></p></td>
          </tr>
      <% end %>
    </tbody>
  </table>