<h2>This Week- <%= number_to_currency(@week_sum_total) %></h2>

<%= high_chart("avg_week", @avg_chart_week) %>
<%#= high_chart_globals(@chart_globals) %>

</br></br>

<%= high_chart("sum_week", @sum_chart_week) %>

</br></br>

<h2>This Month- <%= number_to_currency(@month_sum_total) %></h2>

<%= high_chart("avg_month", @avg_chart_month) %>
<%#= high_chart_globals(@chart_globals) %>

</br></br>

<%= high_chart("sum_month", @sum_chart_month) %>

</br></br>

<h2>This Year- <%= number_to_currency(@year_sum_total) %></h2>

<%= high_chart("avg_year", @avg_chart_year) %>
<%#= high_chart_globals(@chart_globals) %>

</br></br>

<%= high_chart("sum_year", @sum_chart_year) %>

</br></br>
