<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @group.manager_user_id %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Employee</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_show.each do |group| %>
      <tr>
        <td><%= group.emp_name %></td>
        <td><%#= link_to 'Show', group %></td>
        <td><%#= link_to 'Edit', edit_group_path(group) %></td>
        <td><%#= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
