<!-- below beginning to the form allows for images to be submitted via the form -->
<%= form_for @receipt, html: {multipart: true} do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :date %>
    <%#= f.date_field :plain_date %>
  </div>
  <div class="field">
    <%= f.label :expense_report %><br>
    <%= f.collection_select(:expense_report_id , @expense_reports, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :receipt_desc %><br>
    <%= f.text_field :receipt_desc %>
  </div>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price, step: 0.01 %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
