<!DOCTYPE html>
<html>
<head>
  <title>Babouu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%# adding below tag to include the javascript required for the chartkick gem %>
  <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
  <%= javascript_include_tag '//https://code.highcharts.com/highcharts.js' %>
  <%= csrf_meta_tags %>
</head>

<% if user_signed_in? %>
  <body>
  <%= render 'home/header' %>

  <div class="container">
    <% flash.each do |name, msg| %>
      <%#= content_tag(:div, msg, class: "alert alert-warning") %>
    <% end %>
    <%= yield %>
  </div>

  </body>
<% else %>
  <body class="home_page">
  <%= render 'home/header' %>

  <div class="container">
    <% flash.each do |name, msg| %>
      <%#= content_tag(:div, msg, class: "alert alert-warning") %>
    <% end %>
    <%= yield %>
  </div>

  </body>
<% end %>

</html>
